$icon-font-path: '/assets/bootstrap/' !default;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

html, body {
  /* margin: 20px; */
  font-size: 16px;
  line-height: 1.5em;
}

.score-info {
  display: inline-block;
  width: 65px;
}

.comment-info {
  display: inline-block;
  width: 50px;
}

.story {
  margin-bottom: 4px;
}
