$icon-font-path: '/assets/bootstrap/' !default;
$navbar-default-color: rgb(255, 255, 255);
$navbar-default-bg: rgb(225, 86, 63);
$navbar-btn-default: rgb(255, 255, 255);
$navbar-default-link-color: rgb(255, 255, 255);
$navbar-btn-bg: rgb(225,86,63);
$navbar-btn-border: rgb(255,255,255);
$navbar-default-brand-color: rgb(255, 255, 255);
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';


html, body {
  /* margin: 20px; */
  font-size: 16px;
  line-height: 1.6em;
}

.score-info {
  display: inline-block;
  width: 65px;
}

.comment-info {
  display: inline-block;
  width: 50px;
}

.story {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
}

footer {
  height: 50px;
}

.story-item {
}

.story-details {
  font-size: 14px;
}

.story-actions {
  margin-left: auto;
}

.navbar-btn {
  background-color: $navbar-btn-bg;
  border-color: $navbar-btn-border;
  color: $navbar-btn-default;
}

.material-nav {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.nav-top-padding {
  padding-top: 70px;
}
