$icon-font-path: '/assets/bootstrap/' !default;
$navbar-default-color: #fff;
$navbar-default-bg: #e1563f;
$navbar-default-brand-color: #fff;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';


html, body {
  /* margin: 20px; */
  font-size: 16px;
  line-height: 1.6em;
}

.score-info {
  display: inline-block;
  width: 65px;
}

.comment-info {
  display: inline-block;
  width: 50px;
}

.story {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
}

footer {
  height: 50px;
}

.story-item {
}

.story-details {
  font-size: 14px;
}

.story-actions {
  margin-left: auto;
}
