<header class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>Hacker News Reader</a>
    </div>

    <div class='nav navbar-nav navbar-right'>
      {{#if currentUser.email}}
        <div>{{currentUser.email}}</div>
      {{else}}
        {{#link-to 'login' class='btn btn-default navbar-btn'}}Sign in{{/link-to}}
      {{/if}}
    </div>
  </div>
</header>

<div class='container'>
  {{outlet}}
</div>

<footer>
</footer>
