<nav class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>Hacker News Reader</a>
    </div>

    <ul class='nav navbar-nav navbar-left'>
      <li>{{#link-to 'user/favorites'}}Favorites{{/link-to}}</li>
      <li>{{#link-to 'user/following'}}Following{{/link-to}}</li>
      <li>{{#link-to 'pins'}}Pinned Stories{{/link-to}}</li>
    </ul>

    <ul class='nav navbar-nav navbar-right'>
      {{#if currentUser.email}}
        <li><a href='#'>{{currentUser.email}}</a></li>
      {{/if}}
    </ul>

    <div class='header-actions navbar-right'>
      {{#unless hasSession}}
        {{#link-to 'login' class='btn btn-default navbar-btn'}}Sign in{{/link-to}}
      {{/unless}}
    </div>
  </div>
</nav>

<div class='container'>
  {{outlet}}
</div>

<footer>
</footer>
